<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <link rel="stylesheet" href="/CSS/HomeStyle.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="top-nav-bar">
        <div class="search-box">
            <img src="logo.jpg" alt="" class="logo">
            <input type="text" name="search" class="form-control">
            <span class="input-group-text"><i class="fa fa-search"></i></span>
        </div>
        <div class="menu-bar">
            <ul>
                <li><a href="#"><i class="fa fa-shopping-basket"></i>cart</a></li>
                <li><a href="signup.html">Sign Up</a></li>
                <li><a href="login.html">Log In</a></li>
            </ul>
        </div>
    </div>
    <section class="header">
        <div class="side-menu">
            <ul>
                <li>
                    On Sale<i class="fa fa-angle-right"></i>
                    <ul>
                        <li>Sub Menu-1</li>
                        <li>Sub Menu-1</li>
                        <li>Sub Menu-1</li>
                        <li>Sub Menu-1</li>
                    </ul>
                </li>
                <li>
                    Engineering<i class="fa fa-angle-right"></i>
                    <ul>
                        <li>Sub Menu-2</li>
                        <li>Sub Menu-2</li>
                        <li>Sub Menu-2</li>
                        <li>Sub Menu-2</li>
                    </ul>
                </li>
                <li>
                    Medical<i class="fa fa-angle-right"></i>
                    <ul>
                        <li>Sub Menu-3</li>
                        <li>Sub Menu-3</li>
                        <li>Sub Menu-3</li>
                        <li>Sub Menu-3</li>
                    </ul>
                </li>
                <li>
                    Programming<i class="fa fa-angle-right"></i>
                    <ul>
                        <li>Sub Menu-4</li>
                        <li>Sub Menu-4</li>
                        <li>Sub Menu-4</li>
                        <li>Sub Menu-4</li>
                    </ul>
                </li>
                <li>
                    Islamic<i class="fa fa-angle-right"></i>
                    <ul>
                        <li>Sub Menu-5</li>
                        <li>Sub Menu-5</li>
                        <li>Sub Menu-5</li>
                        <li>Sub Menu-5</li>
                    </ul>
                </li>
                <li>
                    Politics<i class="fa fa-angle-right"></i>
                    <ul>
                        <li>Sub Menu-6</li>
                        <li>Sub Menu-6</li>
                        <li>Sub Menu-6</li>
                        <li>Sub Menu-6</li>
                    </ul>
                </li>
                <li>
                    Science Fiction<i class="fa fa-angle-right"></i>
                    <ul>
                        <li>Sub Menu-7</li>
                        <li>Sub Menu-7</li>
                        <li>Sub Menu-7</li>
                        <li>Sub Menu-7</li>
                    </ul>
                </li>
                <li>
                    Historical<i class="fa fa-angle-right"></i>
                    <ul>
                        <li>Sub Menu-8</li>
                        <li>Sub Menu-8</li>
                        <li>Sub Menu-8</li>
                        <li>Sub Menu-8</li>
                    </ul>
                </li>
                <li>
                    Literature<i class="fa fa-angle-right"></i>
                    <ul>
                        <li>Sub Menu-9</li>
                        <li>Sub Menu-9</li>
                        <li>Sub Menu-9</li>
                        <li>Sub Menu-9</li>
                    </ul>
                </li>
                <li>
                    Mathmatics<i class="fa fa-angle-right"></i>
                    <ul>
                        <li>Sub Menu-10</li>
                        <li>Sub Menu-10</li>
                        <li>Sub Menu-10</li>
                        <li>Sub Menu-10</li>
                    </ul>
                </li>
                <li>
                    Islamic<i class="fa fa-angle-right"></i>
                    <ul>
                        <li>Sub Menu-11</li>
                        <li>Sub Menu-11</li>
                        <li>Sub Menu-11</li>
                        <li>Sub Menu-11/li>
                    </ul>
                </li>
                <li>
                    Politics<i class="fa fa-angle-right"></i>
                    <ul>
                        <li>Sub Menu-12</li>
                        <li>Sub Menu-12</li>
                        <li>Sub Menu-12</li>
                        <li>Sub Menu-12</li>
                    </ul>
                </li>
                <li>
                    Science Fiction<i class="fa fa-angle-right"></i>
                    <ul>
                        <li>Sub Menu-13</li>
                        <li>Sub Menu-13</li>
                        <li>Sub Menu-13</li>
                        <li>Sub Menu-13</li>
                    </ul>
                </li>

            </ul>
        </div>
        <div class="slider">
            <div id="slider" class="carousel slide carousel-fade" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="" class="d-block w-100" alt="...">
                    </div>
                </div>
                <ol class="carousel-indicators">
                    <li data-target="#slider" data-slide-to="0" class="active"></li>
                    <li data-target="#slider" data-slide-to="1"></li>
                    <li data-target="#slider" data-slide-to="2"></li>

                </ol>
            </div>
        </div>
    </section>

    <section class="featured-categories">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <img src="~/RestImage/slide200.jpg">
                </div>
                <div class="col-md-4">
                    <img src="~/RestImage/slide210.jpg">
                </div>
                <div class="col-md-4">
                    <img src="~/RestImage/slide300.jpg">
                </div>
            </div>
        </div>
    </section>

    <section class="on-sale">
        <div class="container">
            <div class="title-box">
                <h2>On Sale</h2>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="product-top">
                        <a href="singleproduct.html"><img src="img/book4.jpg"></a>
                        <div class="overlay-right">
                            <button type="button" class="btn btn-secondary" title="Quick  Shop">
                                <i class="fa fa-eye"></i>
                            </button>
                            <button type="button" class="btn btn-secondary" title="Add to whitelist">
                                <i class="fa fa-heart-o"></i>
                            </button>
                            <button type="button" class="btn btn-secondary" title="Add to cart">
                                <i class="fa fa-shopping-cart"></i>
                            </button>
                        </div>
                    </div>
                    <div class="product-bottom text-center">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-o"></i>
                        <h3>Name</h3>
                        <h5>Tk: 320.00</h5>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="product-top">
                        <a href="singleproduct.html"><img src="img/book5.jpg"></a>
                        <div class="overlay-right">
                            <button type="button" class="btn btn-secondary" title="Quick  Shop">
                                <i class="fa fa-eye"></i>
                            </button>
                            <button type="button" class="btn btn-secondary" title="Add to whitelist">
                                <i class="fa fa-heart-o"></i>
                            </button>
                            <button type="button" class="btn btn-secondary" title="Add to cart">
                                <i class="fa fa-shopping-cart"></i>
                            </button>
                        </div>
                    </div>
                    <div class="product-bottom text-center">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <h3>Name</h3>
                        <h5>Tk: 520.00</h5>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="product-top">
                        <a href="singleproduct.html"><img src="img/book1.jpg"></a>
                        <div class="overlay-right">
                            <button type="button" class="btn btn-secondary" title="Quick  Shop">
                                <i class="fa fa-eye"></i>
                            </button>
                            <button type="button" class="btn btn-secondary" title="Add to whitelist">
                                <i class="fa fa-heart-o"></i>
                            </button>
                            <button type="button" class="btn btn-secondary" title="Add to cart">
                                <i class="fa fa-shopping-cart"></i>
                            </button>
                        </div>
                    </div>
                    <div class="product-bottom text-center">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <h3>Name</h3>
                        <h5>Tk: 180.00</h5>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="product-top">
                        <a href="singleproduct.html"><img src="img/book2.jpeg"></a>
                        <div class="overlay-right">
                            <button type="button" class="btn btn-secondary" title="Quick  Shop">
                                <i class="fa fa-eye"></i>
                            </button>
                            <button type="button" class="btn btn-secondary" title="Add to whitelist">
                                <i class="fa fa-heart-o"></i>
                            </button>
                            <button type="button" class="btn btn-secondary" title="Add to cart">
                                <i class="fa fa-shopping-cart"></i>
                            </button>
                        </div>
                    </div>
                    <div class="product-bottom text-center">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <h3>Name</h3>
                        <h5>Tk: 180.00</h5>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--------New Products---------->
    <section class="new-products">
        <div class="container">
            <div class="title-box">
                <h2>New Arrivals</h2>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="product-top">
                        <a href="singleproduct.html"><img src="img/book4.jpg"></a>
                        <div class="overlay-right">
                            <button type="button" class="btn btn-secondary" title="Quick  Shop">
                                <i class="fa fa-eye"></i>
                            </button>
                            <button type="button" class="btn btn-secondary" title="Add to whitelist">
                                <i class="fa fa-heart-o"></i>
                            </button>
                            <button type="button" class="btn btn-secondary" title="Add to cart">
                                <i class="fa fa-shopping-cart"></i>
                            </button>
                        </div>
                    </div>
                    <div class="product-bottom text-center">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-o"></i>
                        <h3>Name</h3>
                        <h5>Tk: 320.00</h5>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="product-top">
                        <a href="singleproduct.html"><img src="img/book5.jpg"></a>
                        <div class="overlay-right">
                            <button type="button" class="btn btn-secondary" title="Quick  Shop">
                                <i class="fa fa-eye"></i>
                            </button>
                            <button type="button" class="btn btn-secondary" title="Add to whitelist">
                                <i class="fa fa-heart-o"></i>
                            </button>
                            <button type="button" class="btn btn-secondary" title="Add to cart">
                                <i class="fa fa-shopping-cart"></i>
                            </button>
                        </div>
                    </div>
                    <div class="product-bottom text-center">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <h3>Name</h3>
                        <h5>Tk: 520.00</h5>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="product-top">
                        <a href="singleproduct.html"><img src="img/book1.jpg"></a>
                        <div class="overlay-right">
                            <button type="button" class="btn btn-secondary" title="Quick  Shop">
                                <i class="fa fa-eye"></i>
                            </button>
                            <button type="button" class="btn btn-secondary" title="Add to whitelist">
                                <i class="fa fa-heart-o"></i>
                            </button>
                            <button type="button" class="btn btn-secondary" title="Add to cart">
                                <i class="fa fa-shopping-cart"></i>
                            </button>
                        </div>
                    </div>
                    <div class="product-bottom text-center">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <h3>Name</h3>
                        <h5>Tk: 180.00</h5>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="product-top">
                        <a href="singleproduct.html"><img src="img/book4.jpg"></a>
                        <div class="overlay-right">
                            <button type="button" class="btn btn-secondary" title="Quick  Shop">
                                <i class="fa fa-eye"></i>
                            </button>
                            <button type="button" class="btn btn-secondary" title="Add to whitelist">
                                <i class="fa fa-heart-o"></i>
                            </button>
                            <button type="button" class="btn btn-secondary" title="Add to cart">
                                <i class="fa fa-shopping-cart"></i>
                            </button>
                        </div>
                    </div>
                    <div class="product-bottom text-center">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <h3>Name</h3>
                        <h5>Tk: 180.00</h5>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!----footer---->
    <section class="footer">
        <div class="container text-center">
            <div class="row">
                <div class="col-md-3">
                    <h1>Useful Links</h1>
                    <p>Privacy Policy<p>
                    <p>Terms of use</p>
                    <p>Return policy</p>
                    <p>Discount coupons</p>
                </div>
                <div class="col-md-3">
                    <h1>Company</h1>
                    <p>About us<p>
                    <p>Contact us</p>
                    <p>Career</p>
                    <p>Affiliate</p>
                </div>
                <div class="col-md-3">
                    <h1>Support</h1>
                    <p>Oreder track</p>
                    <p>Find my product</p>
                    <p>Guide<p>
                    <p>Help desk</p>
                </div>
                <div class="col-md-3">
                    <h1>Follow us on</h1>
                    <p><i class="fa fa-facebook-official"></i> Facebook<p>
                    <p><i class="fa fa-youtube-play"></i> youtube</p>
                    <p><i class="fa fa-linkedin"></i> Linked in</p>
                    <p><i class="fa fa-twitter"></i> Twitter</p>
                </div>
            </div>
            <hr>
            <p class="copy-right">	&copy Web Technologies Project</p>
        </div>
    </section>

</body>
</html>