<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>َRestaurant Login Form</title>
    <link rel="stylesheet" href="/CSS/RestLog.css">
  </head>
  <body>

          <form class="box" action="~/Restaurant/Home" method="post">
              <h1>Login</h1>
              <input type="text" name="" placeholder="Username">
              <input type="password" name="" placeholder="Password">


              <input type="submit" name="" value="Login">
          </form>


</body>
</html>
